**please excecute the code cell by cell, or it may break the dependency.**

`Ctrl + return`: excecute the cell

`shift + return`: excecute the cell and go to the next cell, if the next cell doesn't exist create one

# 1. Basics of Python language
## 1-1. basic types
### 1-1-1. numerical types

integer

In [1]:
a = 4
type(a)

int

float

In [3]:
a = 2.1
type(a)

float

complex

In [4]:
a = 1.5 + 0.5j
type(a), a.real, a.imag

(complex, 1.5, 0.5)

booleans: including `True` and `False`

In [5]:
3 > 4

False

In [6]:
a = 3>4
a, type(a)

(False, bool)

basic arithmetic operations

- if floats is included, float is returned.

In [9]:
1+1, 1-2, 2*3., 3%2, 3%2.

(2, -1, 6.0, 1, 1.0)

- division always returns float variable

In [12]:
3/3, 3/2

(1.0, 1.5)

- so when you need datatype conversion, use the builtin function `int()` and `float()`

In [15]:
int(1.3), int(1.9), float(2)

(1, 1, 2.0)

### 1-1-2. containers
#### 1-1-2-1. string

a string can be create by both single quotation `''` and double quotation `""`, and single quotation in double quotation when necessary `" '' "`

In [20]:
print('this is a string')

this is a string

In [21]:
print("this is also a string")

this is also a string

In [22]:
print("lets insert ' and '' into a string")

lets insert ' and '' into a string

you can see that we are using `print()`. this means we use print function to **print something onto the screen**. if without `print()`, we obtain an **output**, for example,

In [24]:
"lets insert ' and '' into a string"

"lets insert ' and '' into a string"

we can check the length of a string by the builtin function `len()`

In [30]:
a = "the sun is the sum of our sons"
print( "the length of string a is:", len(a) )

the length of string a is: 30

string has the following property:

- slicing: like an array

the first and the final letter is given by index **0** and **length-1**

In [31]:
a[0], a[len(a)-1]

('t', 's')

then you can slice your array by using `[start : stop+1 : step]`

> for example: `[0:len(a)-1]` will give the full string a except the last letter

In [32]:
a[0:len(a)-1]

'the sun is the sum of our son'

and `[:]` gives the full string

In [38]:
a[:]

'the sun is the sum of our sons'

remember it **stop at the one before** `a[len(a)-1]`, this is different from IDL

the indexing can also be counted reversely:

In [35]:
a

'the sun is the sum of our sons'

In [36]:
a[-1], a[-2]

('s', 'n')

this can be convenient, which means you can pick the tail of your string without the knowledge of the length.

In [37]:
a[-4:]

'sons'

more interesting, you an revert your string by setting **step = -1**

In [39]:
a[::-1]

'snos ruo fo mus eht si nus eht'

- immutability: can not be modified

for example the following modification will give error

In [40]:
a[0] = 'f'

TypeError: 'str' object does not support item assignment

you can modify your string by either creating a new string:

In [44]:
b = a[:10] + a[-9:-1]
b

'the sun is our son'

or by the default string method (this also create a new string):

In [48]:
a.replace?

In [58]:
print(a)
print( a.replace('t', 's', 1) )   # first 't' are  replaced by 's'

the sun is the sum of our sons
she sun is the sum of our sons

the most used string method are:

In [51]:
# capitalize the first letter
print(a)
print(a.capitalize())

the sun is the sum of our sons
The sun is the sum of our sons

In [53]:
# count a specific letter in the string
print(a)
print(a.count('t'))

the sun is the sum of our sons
2

In [55]:
# find the first index of a specific letter
print(a)
print(a.find('s'))

the sun is the sum of our sons
4

In [57]:
# split the string
print(a)
a.split(' ')   # splitting by space gives words

the sun is the sum of our sons

['the', 'sun', 'is', 'the', 'sum', 'of', 'our', 'sons']

#### 1-1-2-2. list

a list, created by `[]` or `list()` is an **ordered collection of objects**, that may have different types. for example:

list of integers

In [61]:
l = [1,2,3,4,5]
type(l)

list

list of strings

In [62]:
l = ['abv', 'der', 'dfasgsa']

list of variables of different types

In [63]:
l = ['abv', 1, 2.33333]

list of lists

In [65]:
l = [ [1,2,3],['a', 'b', 'c'],['a', 1, 2.0000] ]

list do not support numeric operation.

a list plus another list is that you combine the two list together

In [66]:
[1,2] + [3,4]

[1, 2, 3, 4]

a list times 3 is that you add 3 identical lists together

In [67]:
[1,2] * 3

[1, 2, 1, 2, 1, 2]

In [68]:
[1,2] - [1]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

else: if you are a set, you can do this

In [69]:
set([1,2]) - set([1])

{2}

list can be sliced like a string

In [70]:
l = [1,2,3,4,5,6,7,8]

In [72]:
print(l[0]) 
print(l[-1]) 
print(l[::-1])

1
8
[8, 7, 6, 5, 4, 3, 2, 1]

because list is a container, it should have a length

In [76]:
len(l)

8

because list is ordered, it can be sorted.

In [77]:
l = [1,3,2,3,1,6,3,4]
sorted(l)

[1, 1, 2, 3, 3, 3, 4, 6]

list is mutable

In [75]:
l = [1,2,3,4,5,6,7,8]
print("original l:\n", l)
l[0] = 0
print("after modification:\n", l)

original l:
 [1, 2, 3, 4, 5, 6, 7, 8]
after modification:
 [0, 2, 3, 4, 5, 6, 7, 8]

you can also modify the list by list builtin method

In [78]:
colors = ['red', 'blue', 'green', 'black', 'white']
colors.append('pink')
colors

['red', 'blue', 'green', 'black', 'white', 'pink']

#### 1-1-2-3. tuple
created by `()` or `tuple()`. like a list, but **immutable**.

In [59]:
t = (1,2,3,4,5)
t[0:3]

(1, 2, 3)

In [60]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

#### 1-1-2-4. dictionary

a dictionary, created by `{}` or `dict()`, is basically an efficient table that maps keys to values as the structure in IDL. it is an **unordered** container.

> {key1: value1, key2: value2, .....}

In [79]:
class_3_2 = {
    'name': ['John', 'Mary', 'Peter'],        # the value is a list
    'age' : [17, 20, 18]
}

In [80]:
class_3_2

{'age': [17, 20, 18], 'name': ['John', 'Mary', 'Peter']}

you see that it is unordered. 

the length of a dictionary is how many keys in it

In [81]:
len(class_3_2)

2

you can check the keys by method `.keys()`

In [82]:
class_3_2.keys()

dict_keys(['name', 'age'])

and the values by method `.values()`

In [84]:
class_3_2.values()

dict_values([['John', 'Mary', 'Peter'], [17, 20, 18]])

and both by method `.items()`

In [85]:
class_3_2.items()

dict_items([('name', ['John', 'Mary', 'Peter']), ('age', [17, 20, 18])])

actually, method `.keys()`, `.values()` and `.items()` are mostly used in *for loops*, as we will see later

### operators

assignment

In [87]:
a, b = 1, 2
a, b

(1, 2)

In [88]:
a, b = b, a
a, b

(2, 1)

assignment from one variable to another variable is **not copy**, for example

In [90]:
a = 1
b = a
b

1

is
1. create a new object 1
2. create a variable a and point it to 1 (the object we created)
3. point variable *b* to the memory address of variable *a*, which has value 1.

so! assignment + slicing can be very dangerous!

In [94]:
a = [1,2,3]
b = a
b[0] = 4     # this does not create new object, but assign value to a existing memory address
a

[4, 2, 3]

logical operator

In [109]:
True & False, True and False

(False, False)

In [110]:
True | False, True or False

(True, True)

In [112]:
1 == 1, 1 is 1

(True, True)

In [113]:
1 != 2, 1 is not 2

(True, True)

In [120]:
not True

False

In [121]:
1 > 2, 1 < 2, 1 >=2, 1 <= 2

(False, True, False, True)

one more very interesting operator is `in`, to check whether a variable is in the container

In [122]:
1 in [1,2,3], 1 in [2,3,4]

(True, False)

### control flow

once you have get famarliar with the operator `in`, the for loop is very staight forward

In [123]:
for i in [1,3,4,5]:
    print(i)

1
3
4
5

have you see the identity? &rarr; python's rule

In [135]:
a = 1
 b = 2

IndentationError: unexpected indent (<ipython-input-135-8e872b00334f>, line 2)

builtin function `range(start,stop+1,step)` to loop over series

In [124]:
for i in range(2,6):
    print(i)

2
3
4
5

even loop with out index

In [125]:
for name in ['John','Mary','Peter']:
    print(name)

John
Mary
Peter

with both index and value by `enumerate()`

In [128]:
for i, name in enumerate(['John', 'Mary', 'Peter']):
    print(i, name)

0 John
1 Mary
2 Peter

then the normal usage of the `.keys()`, `.value` and `.items()` methods of dictionary is:

In [129]:
class_3_2 = {
    'name': ['John', 'Mary', 'Peter'],        # the value is a list
    'age' : [17, 20, 18]
}

In [130]:
for key in class_3_2.keys():
    print(key)

name
age

the temporary `key` variable can be named what ever you like, for example:

In [132]:
for _ in class_3_2.keys():
    print(_)

name
age

and if you remember that `.items()` gives both keys and values,

In [133]:
for key, value in class_3_2.items():
    print(key, value)

name ['John', 'Mary', 'Peter']
age [17, 20, 18]

this means that the for loop can run over 2 or more indicators, like

In [134]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

for i, j, k in zip(l1, l2, l3):
    print(i,j,k)

1 4 7
2 5 8
3 6 9

the *if statement* looks like

In [136]:
i = 6

if i ==5:
    print(i)
elif i < 5:
    print(i-1)
else:
    print(i+1)

7

combining *for loop* and *if statement* you can

- skip the current loop by `continue`
- jump out of your loop by `break`

In [ ]:
for i in range(10):
    if i > 2 and i < 5:
        continue
    elif i > 8:
        break
    else print

the *while loop* looks like

In [138]:
count = 0
while count < 5:
    count += 1
    print(count)

1
2
3
4
5

`+=`, `-=`, `*=`, `/=` operators

`try ... except ... else ...` &rarr; skip

`with` &rarr; move to part of fitsfile, mostly used in data I/O

### functions

In [92]:
def func(x1, x2=0):
    
    return x1+x2

func(1,2), func(1)

(3, 1)

### class

skip, at least 30 minutes needed